@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Signika:wght@300..700&display=swap');




body {
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

