@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Signika:wght@300..700&display=swap');

.page {
  min-height: 100svh;
  padding: 10px 7%;
  font-family: 'Signika', sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.navList {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
}

.navItem {
  display: inline-block;
  margin: 10px 20px;
}