@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Signika:wght@300..700&display=swap');

.page {
  min-height: 100svh;
  font-family: 'Signika', sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 7%;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  gap: 1.5rem; 
}

.navItem {
  display: inline-block;
  font-weight: 500;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navItem:hover {
  transform: scale(1.05); 
}

.navItem a {
  text-decoration: none;
  transition: color 0.3s ease; 
}

.navItem a:hover {
  color: var(--primary); 
}
